# Node
node_modules/
.env
.env.*
dist/
build/
coverage/
.nyc_output/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode
.vscode/

# Docker
**/data/

# Next.js
.next/

# TypeScript
*.tsbuildinfo

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# .NET
orders-api-dotnet/**/bin/
orders-api-dotnet/**/obj/
orders-api-dotnet/**/*.user
orders-api-dotnet/**/.vs/
*.nupkg
*.snupkg

# Grafana / Prometheus persistent data
Volumes/

# Misc
*.local
*.sublime-workspace
*.sublime-project

# Ignore local docker-compose override
/docker-compose.override.yml
